<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      My Day To-Do tutorials
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>enter your details</ion-card-subtitle>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form class="form" [formGroup]="validations_form" 
      (ngSubmit)="login(validations_form.value)">
        <ion-item>
          <ion-label position="floating" color="primary">Email </ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" color="primary">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-button class="submit-btn" type="submit" 
        [disabled]="!validations_form.valid">Log In</ion-button>
        <label class="error-message"> {{errorMessage}} </label>
      </form>
      <p> 
        No account yet?<a routerLink="/register"> sign up </a>
      </p>  
    </ion-card-content>
  </ion-card>
  
</ion-content>
